@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";
@import 'partials/mq';

html {
  margin: 0;
  padding: 0;
}
body {
    @extend html; 
}

.container {
  @include container;    
  .box { @include box;}
  @include set-color (red);
  @include set-color (green);
  @include set-color (lightblue);
  @include set-color (darkblue);
  @include set-color (orange);
}
@media screen and (min-width: 800px) {
        .container {
          width: 800px;
          margin-left: auto;
          margin-right: auto;
        }
    }

    .ch-icon .fa-mobil,
    .ch-icon:hover .fa-mobil-alt {
      display: none;
    }

    .ch-icon:hover .fa-mobil {
      display: inline;
    }

* > .fas.fa-hover-show,
*:hover > .fas.fa-hover-hidden {
  display: none;
}
*:hover > .fa-hover-show {
  display: inline-block;
}

.set-color {
}
.set-color > a:hover {
}
