@mixin tiny-screens() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens() {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font})
}

@mixin warning {
  background-color: orange;
  color: #fff;

  &:hover {
    background-color: lighten(orange, 10%);
  }
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin box($name, $radius: 1px, $border: 1px solid #000, $text: black, $width: 100%, $height: 150px) {
  .box-#{$name} {
    @include rounded($radius);
    border: $border;
    width: $width;
    min-height: $height;
    color: $text;
    background-color: color ($name);
  }
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin container {
  display: flex;
  flex-wrap: wrap;
}
