@mixin tiny-screens() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens() {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font})
}

@mixin warning {
  background-color: orange;
  color: #fff;

  &:hover {
    background-color: lighten(orange, 10%);
  }
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin a($color, $hcolor, $td: none, $b: 0, $pad: 1rem) {
    a {
      padding: $pad;
      text-decoration: $td;
      color: $color;
      border: $b;

      &:hover {
        padding: $pad;
        border: $b;
        color: $hcolor;
      }
    }
}

@mixin box($name, $width: 100%, $height: 150px, $text: black, $radius: 1px, $border: 0, $pad: 1rem) {
  //opposite color as the name of the box for a(links)
  $a-color: invert(color($name));
  .box-#{$name} {
    // styles for links
    @include a($a-color, lighten($a-color, 50%));
    // round   up the box
    @include rounded($radius);
    border: $border;
    width: $width;
    min-height: $height;
    color: $text;
    background-color: color($name);
    padding: $pad;
    @content;
  }
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin container {
  display: flex;
  flex-wrap: wrap;
}


 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: 37.5em)  { @content ; }

  }
}
