$green: #0C8542;
$red: #EC1D3B;
$dblue: #2A457A;
$lblue: #099DD9;
$orange: #F79420;

$colors: (
  green: #0C8542,
  red: #EC1D3B,
  dblue: #2A457A,
  lblue: #099DD9,
  orange: #F79420
);
